* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    color: #db531d;
    font-family: Georgia, serif;
  }
header {
    padding: 50px 35px;
    background-color: #61a3b8;
  }
header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: #db531d;
    float: left;
    margin: -5px;
  }
header a {
    text-decoration: none;
    color: #db531d;
  }
header nav {
    float: right;
    margin: 7px 0;
  }
header nav ul li {
    display: inline;
  }
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  footer {
    background: #61a3b8;
    width: 100%;
    padding: 40px 35px;
  }
  .hero {
    background-image: url("../images/stabilis-wallpaper-1920x1080.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .hero-form {
    background-color: #61a3b8;
    padding: 20px;
    width: 320px;
    height: 400px;
    color: #db531d;
    border: solid 3px #db531d;
    position: absolute;
    bottom: 20px;
    right: 20px;
    top: 26px;
    border-top: 13px solid transparent;
    border-right: 36px solid red;
    border-bottom: 13px solid transparent;
  }
  .hero-form h3 {
    font-size: 24px;
    margin: 0;
  }
  .hero-form p {
    margin: 5px 0 15px 0;
  }
  .form-input {
    border: 1px solid #db531d;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #db531d;
    width: 100%;
    margin-bottom: 15px;
  }
  .hero-form label {
    margin: 0 5px;
  }
  .me {
    background-color: #61a3b8;
    padding: 10px;
    width: 420px;
    color: #db531d;
    border: solid 3px #db531d;
    position: absolute;
    width: 15%;
    top: 20px;
    left: 20px;
  }
  .flex-row {
    display: flex;
    overflow: hidden;
  }
  
