* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    color: #db331d;
    font-family: Georgia, serif;
  }
header {
    padding: 50px 35px;
    background-color: #61a3b8;
  }
header h1 a {
    font-weight: bold;
    font-size: 36px;
    color: #db331d;
    float: left;
    margin: -5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  }
header a {
    text-decoration: none;
    color: #db331d;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
header nav {
    float: right;
    margin: 7px 0;
  }
header nav ul li {
    display: inline;
  }
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  footer {
    background: #61a3b8;
    width: 100%;
    padding: 40px 35px;
  }
  .hero {
    background-image: url("../images/stabilis-wallpaper-1920x1080.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .hero-form {
    background-color: #61a3b8;
    padding: 20px;
    width: 320px;
    height: 400px;
    color: #db331d;
    border: solid 3px #db331d;
    position: absolute;
    bottom: 20px;
    right: 20px;
    top: 26px;
    border-top: 13px solid transparent;
    border-right: 36px solid #db331d;
    border-bottom: 13px solid transparent;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.80);
    border-radius: 15px;
  }
  .hero-form h3 {
    font-size: 24px;
    margin: 0;
  }
  .hero-form p {
    margin: 5px 0 15px 0;
  }
  .form-input {
    border: 1px solid #db331d;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #db331d;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  .hero-form label {
    margin: 0 5px;
  }
  .me {
    background-color: #61a3b8;
    padding: 1px;
    width: 420px;
    color: #db331d;
    border: solid 3px #db331d;
    position: absolute;
    width: 15%;
    top: 20px;
    left: 20px;
    z-index: 1000;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
  }
  .flex-container {
    display: flex;
    background-color: #db331d;
  }
  .flex-container > div1 {
    background-color: #61a3b8;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    width: 75%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.80);
    border-radius: 15px;
  }
  .flex-container > div2 {
    background-color: #61a3b8;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    width: 85%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.80);
    border-radius: 15px;
  }
  .flex-container > div3 {
    background-color: #61a3b8;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    width: 95%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.80);
    border-radius: 15px;
  }
  .runbuddy {
    width: 48%;
    padding-inline-start: 80px;
  }
  .logos {
    width: 22%;
    padding-inline-start: 80px;
  }
  .painting {
    width: 25%;
    padding-inline-start: 80px;
  }
  .bc {
    background-color: #61a3b8;
    padding: 10px;
    width: 420px;
    color: #db331d;
    border: solid 3px #db331d;
    position: absolute;
    width: 40%;
    top: 290px;
    left: 40px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.80);
    border-radius: 15px;
  }
  .rectangle {
    height: 10%;
    width: 2px;
    background-color: rgb(58, 216, 79);
    position: absolute;
    left: 10%;
    top: 45%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.60);
    z-index: 1000;
  }
  .rectangle2 {
    height: 2px;
    width: 20%;
    background-color: rgb(58, 216, 79);
    position: absolute;
    left: 40%;
    top: 85%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.60);
    z-index: 1000;
  }
  .rectangle3 {
    height: 70%;
    width: 2px;
    background-color: rgb(58, 216, 79);
    position: absolute;
    right: 20%;
    top: 68%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.60);
    z-index: 1000;
  }
